extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)
    +itemtitle(dir, subdir, 1)
    +itemtitle(dir, subdir, 2)
    +itemtitle(dir, subdir, 3)

