extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    - var item = $i18n.op.items[0]
    +itemtitle(dir, subdir, 0, item.title, item.subtitle)

    - var img = "/op/images/kit-bulk.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.kitbulk)

    - var item = $i18n.op.items[1]
    +itemtitle(dir, subdir, 1, item.title, item.subtitle)

    - var img = "/op/images/kit-bag.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.kitbag)

    - var item = $i18n.op.items[2]
    +itemtitle(dir, subdir, 2, item.title, item.subtitle)

    - var img = "/op/images/kit-bag1.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.kitbag1)

    - var item = $i18n.op.items[3]
    +itemtitle(dir, subdir, 3, item.title, item.subtitle)

    - var img = "/op/images/kit-bag2.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.kitbag2)

    - var item = $i18n.op.items[4]
    +itemtitle(dir, subdir, 4, item.title, item.subtitle)

    - var img = "/op/images/kit-bag3.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.kitbag3)
  
