extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0, $i18n.op.items[0])
    +itemtitle(dir, subdir, 1, $i18n.op.items[1])
    +itemtitle(dir, subdir, 2, $i18n.op.items[2])
    +itemtitle(dir, subdir, 3, $i18n.op.items[3])

