extends ../layout

block navbar
  +navbar('/maker/plate/')

block sidebar
  +sidebar('/maker/plate/')

block main

  - var dir = 'maker'
  - var subdir = 'plate'

  +itemhead(dir, subdir)

  if $localeName != 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
  else
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      +table($i18n[dir][subdir].items[0].table)

  +nextstep('/maker/pc/index.html', $i18n.maker.pc.label)
