extends layout

block main

  - var dir = 'assy'
  - var subdir = 'unbox'

  +itemhead(dir, subdir)

    p
      | #{$i18n.assy.unbox.text1}
      +contact($i18n.assy.unbox.text2).link
      | #{$i18n.assy.unbox.text3}

    +itemtitle(dir, subdir, 0)

    - var img = "/assy/images/kit-bulk.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[0].table)

    +itemtitle(dir, subdir, 1)

    - var img = "/assy/images/kit-bag.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[1].table)

    +itemtitle(dir, subdir, 2)

    - var img = "/assy/images/kit-bag1.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[2].table)

    +itemtitle(dir, subdir, 3)

    - var img = "/assy/images/kit-bag2.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[3].table)

    +itemtitle(dir, subdir, 4)

    - var img = "/assy/images/kit-bag3.svg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[4].table)
  
    +nextstep('/assy/lid/index.html', $i18n.assy.lid.label)
