extends layout

block append metas
  - var dir = 'assy'
  - var subdir = 'unbox'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block main

  +itemhead(dir, subdir)

    p
      | #{$i18n.assy.unbox.text1}
      a.link(href="/"+$localeName+"/contact/index.html" target="_blank") #{$i18n.assy.unbox.text2}
      | #{$i18n.assy.unbox.text3}

    +itemtitle(dir, subdir, 0)

    - var img = "/assy/images/unbox-all.jpg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[0].table)

    +itemtitle(dir, subdir, 1)

    - var img = "/assy/images/unbox-bag.jpg"
    +image(img, img)
    p
      +table($i18n.assy.unbox.items[1].table)
    
    +itemtitle(dir, subdir, 2)

    +nextstep('/assy/lid/index.html', $i18n.assy.lid.label)
