extends layout

block main

    h4 #{$i18n.about.label}

    p
      | 2 married programmer 
      a.link(href="https://www.facebook.com/hisakawa" target="_blank") Shingo
      | &nbsp;and&nbsp;
      a.link(href="https://www.facebook.com/maripo" target="_blank") Mariko
      | &nbsp;based in Tokyo.

