extends layout

block main

    h4 #{$i18n.about.label}

    p
      | 2 married programmers 
      a.link(href="https://www.facebook.com/hisakawa" target="_blank") Shingo
      | &nbsp;and&nbsp;
      a.link(href="https://www.facebook.com/maripo" target="_blank") Mariko
      | &nbsp;based in Tokyo.

    p
      | Space fan? Try our 
      a.link(href="https://ssar.space" target="_blank") SpaceStationAR
      | &nbsp;too.
