node_modules/
package-lock.json
*.html
*.swp
/.project
*.psd
.atomignore

# Android app
android/android.iml
android/.gradle/*
android/.idea/*
android/app/google-services.json
android/app/build/*
android/app/release/*
android/build/*
android/app/src/main/assets/NinjaPCR_console/*
# iOS app
