doctype html
html
  head
    meta(http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8")
    title NinjaPCR WiFi
    link(type="text/css" href="/console/css/redmond/jquery-ui-1.8.13.custom.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" media="all" href="/console/css/reset.css")
    link(rel="stylesheet" type="text/css" media="all" href="/console/css/style.css")
    link(rel="stylesheet" type="text/css" media="all" href="/console/css/buttons.css")
    link(rel="stylesheet" type="text/css" href="/console/css/SprySlidingPanels.css")
    link(rel="stylesheet" type="text/css" href="/console/css/wifi.css")
    script(type="text/javascript" src="/console/js/lib/jquery-1.9.1.min.js")
    script(type="text/javascript" src="/console/js/lib/jquery-ui-1.10.3.custom.min.js")
    script(type="text/javascript" src="/console/js/lib/jquery.validate.js")
    script(type="text/javascript" src="/console/js/lib/jquery.ui.dialog.js")
    script(type="text/javascript" src="/console/js/lib/jquery.ui.button.js")
    script(type="text/javascript" src="/console/js/lib/jquery.ui.slider.js")
    script(type="text/javascript" src="/console/js/lib/jquery.ui.progressbar.js")
    script(type="text/javascript" src="/console/js/lib/sprypanels.js")
    script(type="text/javascript" src="/console/js/_locales/ja/messages.json")
    script(type="text/javascript" src="/console/js/_locales/en/messages.json")
    script(type="text/javascript" src="/console/js/lib/i18n.js")
    script(type="text/javascript" src="/console/js/wifiUtil.js")
    script(type="text/javascript" src="/console/js/logger.js")
    script(type="text/javascript" src="/console/js/experimentLogger.js")
    script(type="text/javascript" src="/console/js/wifiCommunicator.js")
    script(type="text/javascript" src="/console/js/serialPortScanner.js")
    script(type="text/javascript" src="/console/js/form.js")
    script(type="text/javascript" src="/console/js/openpcr.js")
    script(type="text/javascript" src="/console/js/first_run.js")
    script(type="text/javascript" src="/console/js/experiments/default_experiment.js")
    script(type="text/javascript" src="/console/js/experiments/new_experiment.js")
    script(type="text/javascript" src="/console/js/wifiConfig.js")
    
  body
    #content(role="main" style="width:700px;height:800px;margin:auto;")
      #example2.SlidingPanels
        .SlidingPanelsContentGroup
          // PANEL 1: Home Screen
          #ex1_p1.SlidingPanelsContent.p1
            include includes/layout-panel1.pug
          // PANEL 2: Profile Editor
          #ex2_p2.SlidingPanelsContent.p2
            include includes/layout-panel2.pug
          // PANEL 3: Experiment Progress
          #ex2_p3.SlidingPanelsContent.p3
            include includes/layout-panel3.pug
        
    // Device update (visible when firmware update is available.)
    #config(style="display:none")
      h2 Firmware Update
      input#buttonStartOTA(type="button" value="Start Firmware Update")

    #dialog_container(style="display:none")
      // Common Alert Dialog
      #alert_dialog(title="Alert")
        #alert_dialog_content
        
      // stop-dialog
      #stop_dialog(title="Stop")
        span.pcr_localize_stopPcr Are you sure you want to stop the experiment?
        
      // stopped (or restarted) when running view
      #is_stopped_dialog(title="Warning")
        span.pcr_localize_stopRunning Device may have restarted.
        
      // Device is disconnected
      #disconnected_dialog(title="Disconnected")
        #pcr_localize_disconnectedInExperiment Device is disconnected.
        
      // Creditdialog
      #about_dialog(title="About NinjaPCR")
        | Version 
        span#appVersion
        br
        |       NinjaPCR App
        br
        |       https://github.com/hisashin/NinjaPCR/wiki
        br
        |       Email us: pcr@tori.st
        
      // settings-dialog
      #settings_dialog(title="Set Screen Contrast")
        span.pcr_localize_dragSlider Drag the slider to adjust the screen's contrast.
        #contrast_slider
        
      // OTA related dialogs
      #update_required_dialog(title="Device update")
        .pcr_localize_updateRequired Device update is required. It can't run without updating.
        .versionDetail
          span.pcr_localize_versionCurrent Current Version
          |  : 
          span.labelVersionCurrent 1.0
        .versionDetail
          span.pcr_localize_versionLatest Latest Version
          |  : 
          span.labelVersionLatest 1.0
          
      #update_available_dialog(title="Device update")
        .pcr_localize_updateAvailable Device update is available!
        .versionDetail
          span.pcr_localize_versionCurrent Current Version
          |  : 
          span.labelVersionCurrent 1.0
        .versionDetail
          span.pcr_localize_versionLatest Latest Version
          |  : 
          span.labelVersionLatest 1.0
          
      #update_starting_dialog(title="Updating...")
        .pcr_localize_updateStarting Starting device update. Please do not turn the power off.
        
      #updating_dialog(title="Updating...")
        .pcr_localize_updating Device is updating. Please do not turn the power off.
        
      #update_finished_dialog(title="Updated")
        .pcr_localize_updateFinished Device is updated successfully!
        
      #update_failed_dialog(title="Update failed")
        .pcr_localize_updateFailed Device update was failed. Please try again.
        
      // Save dialog
      #save_dialog(title="Save")
        form#saveForm
          fieldset
            label(for="name") Name your experiment
            input#name.required.text.ui-widget-content.ui-corner-all(type="text" name="name" maxlength="20")
            
      // Saved
      #save_done_dialog(title="Saved")
        span.pcr_localize_saved Experiment saved!
        
      // Confirm deletion
      #delete_dialog(title="Delete")
        span.pcr_localize_confirmDelete Delete Experiment?
        
      // Deleted
      #delete_done_dialog(title="Deleted")
        span.pcr_localize_deleted Deleted!
        
      // Starting popup
      #is_starting_dialog(title="Starting")
        span.pcr_localize_readySteadyGo Ready. Steady. Go!
        
      // Resuming popup
      #is_resuming_dialog(title="Device is already running")
        span#resumingProfile
        
      // Dialog to show OTA error
      #is_ota_mode_dialog(title="OTA Mode")
        div The device is started in firmware update mode.
        input#buttonOTAModeOpenUpdate(type="button" value="Open update page")
        input#buttonOTAModeCancelUpdate(type="button" value="Cancel update")
        input#buttonOTAModeCloseDialog(type="button" value="Close this dialog")
        
      // Harware error
      #error_dialog(title="Error")
        div.pcr_localize_hardwareError Hardware Error
        div#errorDesctiption
        div
          a#errorLink(href="http://ninjapcr.tori.st/index.html#")
            span.pcr_localize_hardwareErrorCode Error Code
            span :
            span#labelErrorCode
      // Android app installation guide
      #android_app_install_dialog(title="Please install app")
        div.pcr_localize_androidGuide You need to install NinjaPCR app. Please install the app on Play Store. 
