extends ../layout-nav

block append head
  script(type="text/javascript")
    | if(location.protocol == 'https:') {
    |   // location.replace(location.href.replace(/https:/, 'http:'));
    | }

block navbar
  +navbar('/console/')

block sidebar
  +sidebar('/console/')

