extends layout

block main

  - var dir = 'assy'
  - var subdir = 'body'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0, $i18n.assy.body.items[0])
    +itemtitle(dir, subdir, 1, $i18n.assy.body.items[1])
    +itemtitle(dir, subdir, 2, $i18n.assy.body.items[2])
    +itemtitle(dir, subdir, 3, $i18n.assy.body.items[3])
 
    +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
