extends layout

block main

  - var dir = 'assy'
  - var subdir = 'body'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)
    +itemtitle(dir, subdir, 1)
    +itemtitle(dir, subdir, 2)
    +itemtitle(dir, subdir, 3)
 
    +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
