extends ../layout

block navbar
  +navbar('/maker/misc/')

block sidebar
  +sidebar('/maker/misc/')

block main

  - var dir = 'maker'
  - var subdir = 'pcb'

  +itemhead(dir, subdir)

    h4 Introduction

    p
      | Usual PC power supply can be used as power source. Wait our updates.

