extends ../layout

block append metas
  - var dir = 'maker'
  - var subdir = 'misc'
  +meta(metas, $i18n[dir][subdir].items[0].title)

block navbar
  +navbar('/maker/misc/')

block sidebar
  +sidebar('/maker/misc/')

block main

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      +table($i18n[dir][subdir].items[0].table)

  +nextstep('/maker/assy/index.html', $i18n.maker.assy.label)

