extends ../layout

block navbar
  +navbar('/maker/wood/')

block sidebar
  +sidebar('/maker/wood/')

block main

  - var dir = 'maker'
  - var subdir = 'pcb'

  +itemhead(dir, subdir)

    h4 Introduction

    p
      | Can you use laser cutter and MDF board with 5.5mm or 5.0mm thickness? Then you can make your own wooden parts. Wait our updates.

    +nextstep('/maker/screw/index.html', $i18n.maker.screw.label)
