extends ../layout

block navbar
  +navbar('/maker/wood/')

block sidebar
  +sidebar('/maker/wood/')

block main

  - var dir = 'maker'
  - var subdir = 'wood'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    +nextstep('/maker/pcb/index.html', $i18n.maker.pcb.label)
