doctype html
html
  head
    script(type="text/javascript" src="/console2/src/index.js")
  body
    header
      h1 NinjaPCR
    main
      section
        ul
          li Profile A
          li Profile B
          li Profile C
      section
        ul
          li Device A
          li Device B
          li Device C
