extends ../layout

block navbar
  +navbar('/maker/metal/')

block sidebar
  +sidebar('/maker/metal/')

block main

  - var dir = 'maker'
  - var subdir = 'pcb'

  +itemhead(dir, subdir)

    h4 Introduction

    p
      | Have you ever cut aluminium plate with box cutter? Wait our updates.

    +nextstep('/maker/misc/index.html', $i18n.maker.misc.label)
