extends ../../layout-nav

block main
  .row.i18n
    .col-auto.mr-auto
      h4 特別単価一覧
    .col-auto
      button.btn.btn-primary(onClick="location.href='edit'") 新規

    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th ID
            th サイトID
            th サイト名
            th 開始時刻
            th 終了時刻
            th ポイント
            th 削除
        tbody
          tr
            td
              a(href="123") 123
            td 1234
            td test
            td
              +formatDate(1528401079290)
            td
              +formatDate(1528401079290)
            td 5432
            td
              a(href="123/delete", onClick="return confirm('削除してよろしいですか？')") 削除
          tr
            td
              a(href="123")
                span #{$i18n.hello.world}
            td #{$localeName}
            td test
            td
              +formatDate(1528401079290)
            td
              +formatDate(1528401079290)
            td 5432
            td
              a(href="123/delete", onClick="return confirm('削除してよろしいですか？')") 削除



