.carousel h1 {
    font-size: 1.2em;
}
.carousel p {
  font-size:80%;
}
@media (min-width: 576px) {
  .carousel h1 {
    font-size: 1.8em;
  }
  
  .carousel p {
    font-size:100%;
  }
}

@media (min-width: 768px) {
  .carousel h1 {
    font-size: 2.4em;
  }
}