.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-control-prev-icon {
  background-color: #404040;
}
.carousel-control-next-icon {
  background-color: #404040;
}
.carousel-caption {
  color: #404040;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.item-img {
  height: auto;
  padding-bottom: 10px;
}

.offset {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  //color: #00B7FF;
  color: #333
}

.link {
  color: #007bff;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.list-group-item {
  background-color: #f8f9fa;
  border: #f8f9fa;
  color: #333
}
