extends layout

block main
  .row
    .col-auto.mr-auto
      h4 #{$i18n.shop.label}

  .row !{$i18n.shop.message}

  //if $localeName == 'en'
  //  | <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"b1d1f5d4a370d2be4160f30bf","lid":"3d7575de6f"}) })</script>
