extends ../layout

block append metas
  - var dir = 'maker'
  - var subdir = 'firmware'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block navbar
  +navbar('/maker/firmware/')

block sidebar
  +sidebar('/maker/firmware/')

block main

  +itemhead(dir, subdir)

  if $localeName != 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
  else
    +itemtitle(dir, subdir, 0)
    ol
      li Arduino IDEをインストール
      li ソースをダウンロード
      li 必要ならドライバをインストール
      li 電源を接続
      li USBシリアルを差し込む (配列は次のようになっています)
      li ジャンパピンを差す
      li 書き込む
      li (macOS High Sierraなど) 一部環境で書き込めない場合はコマンドラインツールから
      li トラブルシューティング
    p
      | #{$i18n[dir][subdir].items[0].text1}
    p ここでは、NinjaPCRのプログラムをビルドし、基板上のESP8266に書き込む方法を説明します。USBシリアル変換ケーブルおよびジャンパピンが必要です。
    h4 Arduino IDEをインストール
    p
      a(href="https://www.arduino.cc/en/Main/Software") Arduino.cc
      | にアクセスし、最新のArduino IDEをダウンロードしてインストールします。
      br
      a(href="https://www.arduino.cc/en/Main/Software") https://www.arduino.cc/en/Main/Software

    h4 ArduinoのESP8266対応
    p Arduino IDEはそのままではESP8266用のプログラムをビルドしたり書き込みを行ったりすることができません。
    p サードパーティ製のハードウェアをサポートするライブラリやボード設定やツールをインストールする "Board Manager" という仕組を利用し、ESP8266に対応する必要があります。
    p まず、Preferencesで "Additional Board Manager URLs" に "http://arduino.esp8266.com/stable/package_esp8266com_index.json" を追加します。
    .row
      - var img = "/maker/images/firmware_arduino_board_manager1.png"
      +process-image(img, img)
      - var img = "/maker/images/firmware_arduino_board_manager2.png"
      +process-image(img, img)
    p Arduinoのツールバーから "Tools > Board: > Boards Manager..." を選択します。"esp8266 by ESP8266 Community" をインストールします。バージョンは2.4.2以上を選択してください。
    .row
      - var img = "/maker/images/firmware_arduino_board_manager3.png"
      +process-image(img, img)
    p Arduino IDE経由ではなくGitHubのリポジトリからcloneして手動でインストールするという方法もあります。詳しくは
      a(href="https://github.com/esp8266/Arduino") ESP8266ライブラリのGitHubリポジトリ
      | を参照してください。

    h4 NinjaPCRのソースコードをダウンロード
    p
      a(href="https://github.com/hisashin/NinjaPCR") GitHub上のNinjaPCRリポジトリ
      | からソースコードをダウンロードします。zipでダウンロードして解凍するか、gitを利用して "git@github.com:hisashin/NinjaPCR.git" をcloneしてください。
    .row
      - var img = "/maker/images/firmware_github.png"
      +process-image(img, img)
    p "arduino/NinjaPCR/NinjaPCR.ino" をArduino IDEで開きます。
    .row
      - var img = "/maker/images/firmware_ninjapcr_ino.png"
      +process-image(img, img)
    p ビルド設定を選びます。"Board" は "Generic ESP8266 Module"、Flash Sizeは "4M (3M SPIFFS)" を選択します。
    .row
      - var img = "/maker/images/firmware_board_select.png"
      +process-image(img, img)
    p Verifyを押してコードを確認します。
    h4 NinjaPCR本体をPCに接続
    p 電源をケーブルをNinjaPCRに接続します。この時点で電源プラグは抜いたままにしておいてください。
    .row
      - var img = "/maker/images/firmware_power.jpg"
      +process-image(img, img)
    p USBシリアル変換ケーブルでNinjaPCRとPCを接続します。右の6本のピンに挿します。左の2本は未接続の状態にしておいてください。
    .row
      - var img = "/maker/images/firmware_serial.jpg"
      +process-image(img, img)
    p 左の2本のピンにジャンパピンを挿し込みます。この2本のピンが接続された状態で電源投入またはリセットを行うことで、通常起動モードではなくファームウェア書き込みモードで起動します。
    .row
      - var img = "/maker/images/firmware_serial_jumper1.jpg"
      +process-image(img, img)
    .row
      - var img = "/maker/images/firmware_serial_jumper2.jpg"
      +process-image(img, img)
    p 電源を接続し、書き込みモードで起動します。なお、書き込みモードで正常に起動しているか疑わしい場合、Arduino IDEのシリアルモニタから確認することができます。Baud rateは "115200" を接続します。
    p 正しくシリアル接続され、PCが認識し、書き込みモードで起動している場合は、次のように表示されます。

    h4 書き込み
    p 書き込みボタンを押します。
    p 一部の環境でうまくいかない場合がありますので、コマンドラインからesptool.pyを使って書き込みます。
    p 環境に依存する要素があるかもしれません。もしうまくいかない場合は、できるだけ詳しく環境と状況を添えてお問い合わせください。

  +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
