extends ../layout

block navbar
  +navbar('/maker/firmware/')

block sidebar
  +sidebar('/maker/firmware/')

block main

  - var dir = 'maker'
  - var subdir = 'firmware'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)

