extends layout-nav

block append head
  link(rel='stylesheet', href='/css/carousel.css')
  style(type='text/css')
    | body { padding-top : 42px; }

block content
  +navbar('/console/assy/op/maker/about/store/')

  main(role="main")
    include includes/carousel.pug

    footer.container.w-100.offset
      .row.justify-content-md-center
        p.float-right
          //  a(href="#") Back to top
          +itemlink('assy', 'index', 7) 
        p.col-md-auto
          | &copy; 2018 
          a(href="https://www.tori.st", target="_blank") Toriningen, Inc.
