extends layout-nav

block append head
  link(rel='stylesheet', href='/css/carousel.css')
  style(type='text/css')
    | body { padding-top : 42px; }

block content
  +navbar('/nocurrent/console/assy/op/maker/req/about/store/')

  main(role="main")
    include includes/carousel.pug

    div(style="max-width:800px;padding:2em;margin:auto;")

      .row.featurette#wifi
        .col-md-7.order-md-2
          h2 Wi-Fi
          ul
            li Accessible from local network
            li Console works on web browsers on smartphones, tablets and PCs.
            li Powered by ESP8266
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_wifi.png" alt="Wi-Fi" style="border:1px solid #ddd;max-width:280px;")

      hr.featurette-divider

      .row.featurette#accuracy
        .col-md-7.order-md-2
          h2 Accuracy
          ul
            li 24bit AD converter
            li Switching low & high modes
            li Temperature simulation of sample in tubes
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_accuracy.png" alt="Accuracy" style="border:1px solid #ddd;max-width:280px;")

      hr.featurette-divider

      .row.featurette#open
        .col-md-7.order-md-2
          h2 Open-source
          ul
            li All source codes and scematics are available on GitHub
            li Designed to be built easily
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_open.jpg" alt="Wi-Fi" style="border:1px solid #ddd;max-width:280px;")


    footer.container.w-100.offset
      .row.justify-content-md-center
        //p.float-right
        //  a(href="#") Back to top
        p.col-md-auto
          | &copy; 2018
          a(href="https://www.tori.st", target="_blank") Toriningen, Inc.
