extends layout

block append head
  link(rel='stylesheet', href='/css/common/navbar-top-fixed.css')
  link(rel='stylesheet', href='/css/common/dashboard.css')
 
block append content
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    block navbar

  .container-fluid
    .row
      nav.col-md-2.d-none.d-md-block.bg-light.sidebar
        block sidebar

      main.col-md-10.ml-sm-auto.col-lg-10.px-4(role="main")
        block main

  script(src="/js/common/feather.min.js")
  script feather.replace()

