extends ../layout

block navbar
  +navbar('/maker/heater/')

block sidebar
  +sidebar('/maker/heater/')

block main

  - var dir = 'maker'
  - var subdir = 'heater'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    +nextstep('/maker/plate/index.html', $i18n.maker.plate.label)
