extends ../layout

block navbar
  +navbar('/maker/pcb/')

block sidebar
  +sidebar('/maker/pcb/')

block main

  - var dir = 'maker'
  - var subdir = 'pcb'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    - var img1 = "/maker/images/NinjaPCB_ver2.2-layout.jpeg"
    - var img2 = "/maker/images/NinjaPCB_ver2.2-schematic.jpeg"
    +image2(img1, img1, img1, img2, img2, img2)

    +nextstep('/maker/well/index.html', $i18n.maker.well.label)
