extends ../layout-nav

block navbar
  +navbar('/3d/')

block sidebar
  +sidebar('/3d/')

block main
  iframe(src="https://myhub.autodesk360.com/ue29c069d/shares/public/SHabee1QT1a327cf2b7ae405387be4a8f372?mode=embed" width="100%" height="auto" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0")
