extends ../layout

block navbar
  +navbar('/maker/screw/')

block sidebar
  +sidebar('/maker/screw/')

block main

  - var dir = 'maker'
  - var subdir = 'screw'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      +table($i18n[dir][subdir].items[0].table)

    +nextstep('/maker/misc/index.html', $i18n.maker.misc.label)
