extends ../layout

block navbar
  +navbar('/maker/screw/')

block sidebar
  +sidebar('/maker/screw/')

block main

  - var dir = 'maker'
  - var subdir = 'pcb'

  +itemhead(dir, subdir)

    h4 Introduction

    p
      | Both metric and inch screws are supported. Wait our updates.

    +nextstep('/maker/metal/index.html', $i18n.maker.metal.label)
