extends ../layout

block append metas
  - var dir = 'maker'
  - var subdir = 'assy'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block navbar
  +navbar('/maker/assy/')

block sidebar
  +sidebar('/maker/assy/')

block main

  +itemhead(dir, subdir)

  if $localeName != 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
  else
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

  +nextstep('/maker/firmware/index.html', $i18n.maker.firmware.label)

