extends layout

block main

  - var dir = 'assy'
  - var subdir = 'well'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)
    +itemtitle(dir, subdir, 1)
    +itemtitle(dir, subdir, 2)
    +itemtitle(dir, subdir, 3)
    +itemtitle(dir, subdir, 4)
    +itemtitle(dir, subdir, 5)
  
    +nextstep('/assy/body/index.html', $i18n.assy.body.label)
