extends layout

block main

  - var dir = 'assy'
  - var subdir = 'well'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      +itemlink(dir, 'unbox', 3)
      | #{$i18n[dir][subdir].items[0].text1}
    
      - var img = "/assy/images/well-woods.svg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table)

    +itemtitle(dir, subdir, 1)
    +itemtitle(dir, subdir, 2)
    +itemtitle(dir, subdir, 3)
    +itemtitle(dir, subdir, 4)
    +itemtitle(dir, subdir, 5)
    +itemtitle(dir, subdir, 6)
  
    +nextstep('/assy/body/index.html', $i18n.assy.body.label)
