extends layout

block main

  - var dir = 'assy'
  - var subdir = 'well'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0, $i18n.assy.well.items[0])
    +itemtitle(dir, subdir, 1, $i18n.assy.well.items[1])
    +itemtitle(dir, subdir, 2, $i18n.assy.well.items[2])
    +itemtitle(dir, subdir, 3, $i18n.assy.well.items[3])
  
    +nextstep('/assy/body/index.html', $i18n.assy.body.label)
