extends ../layout

block navbar
  +navbar('/maker/well/')

block sidebar
  +sidebar('/maker/well/')

block main

  - var dir = 'maker'
  - var subdir = 'well'

  +itemhead(dir, subdir)

  if $localeName == 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    +nextstep('/maker/heater/index.html', $i18n.maker.heater.label)
