include ../../includes/mixins.pug

p
  | #{$i18n.assy.unbox.items[0].text1}
  +contact($i18n.assy.unbox.items[0].text2)
  | #{$i18n.assy.unbox.items[0].text3}

- var img = "/assy/images/kit-bulk.svg"
+image(img, img)

p

  +table($i18n.assy.unbox.kitbulk)
