#running_header(role="main")
  div#runningExperimentTitle.Header
  #runningStats
    #runningHeader
      #elapsed_time_section
        span.pcr_localize_elapsedTime Elapsed time:
        span#elapsedTime --:--:--
        |
        span#timeRemaining.pcr_localize_timeRemaining Time remaining:
        span#minutesRemaining --:--:--
        div
          meter#timeProgress(max="100",min="0",value="0")
    table#statsTable.runningTable
      tr
        th(style="width:110px")
          span.pcr_localize_status Status
        th(colspan="4")
          span.pcr_localize_currentTemp Current Temperature
      tr
        td(rowspan="3")
          #runnningStatus
            div#sectionCycles
              span.pcr_localize_cycle Cycle
              |
              span#cycleNumber -
              | /
              span#totalCycles -
            div#sectionRepeats
              span.pcr_localize_repeated Repeated
              |
              span#repeatNumber -
              | /
              span#totalRepeats -
            div#stepName
        td(style="text-align:right;")
          span.pcr_localize_lid Lid
          | :
        td
          span#lidTemperature
          | °C
        td
          meter#meterLid.meterTemp(min="0" max="120" value="85")
        td
          #deviceStatusLid.deviceStatus
      tr
        td(style="text-align:right;")
          span.pcr_localize_block Well
          | :
        td
          span#blockTemperature
          | °C
        td
          meter#meterBlock.meterTemp(min="0" max="120" value="25")
        td
          #deviceStatusPeltier.deviceStatus
      tr
        td(style="text-align:right;")
          span.pcr_localize_sample Sample
          | :
        td
          span#sampleTemperature
          | °C
        td
          meter#meterSample.meterTemp(min="0" max="120" value="25")
        td
    div
      #graph_container
      div(style="text-align:center;")
        input#graph_plus.graph_zoom(type="button")
        input#graph_minus.graph_zoom(type="button")

    #runningPluggedIn
      input#stop_link.stop.player_button.pcr_localize_stop(type="button" value="Stop")
      span.v1_1
        input#pause_link.pause.player_button.pcr_localize_pause(type="button" value="Pause")
        input#resume_link.resume.player_button.pcr_localize_resume(type="button" value="Resume")
        input#next_step_link.next_step.player_button.pcr_localize_next_step(type="button" value="Next Step")
        input#next_cycle_link.next_cycle.player_button.pcr_localize_next_cycle(type="button" value="Next Cycle")

    #runningUnplugged.unplugged_message.pcr_localize_unplugged
      | Your NinjaPCR is unplugged from the computer.
      br
      |             Plug in your NinjaPCR to get updated information on your run.
  script(type="text/javascript" src="/console/js/lib/flotr2.min.js")
  script(type="text/javascript" src="/console/js/graph.js")
  #homeButton
    input#Home.button.homeRunning.pcr_localize_home(type="button" value="Home")
  div(style="clear:both;")
  div(style="margin-top:6px;")
    a#download.small_button.pcr_localize_saveCsv(style="display:none;") Save CSV
