form#pcrForm.cmxform(method="get" action="")
  .openpcr-form-div
    .Header
      a#deleteButton(href="#")
        img(src="/console/images/delete.png" height="30")
      span#ExperimentName
      input#editButton.small_button.edit.pcr_localize_edit(type="button" value="Edit")
    #lidContainer(style="display:none;")
      #lidTemp
    #preContainer(style="display:none;")
      #preSteps
      a#initialStep.edit(href="#")
        img(src="/console/images/plus.png" height="30")
        span.pcr_localize_initialStep Initial Step
    #cycleContainer(style="display:none;")
      #cycleSteps
      a#addStepButton.edit(style="display:none;")
        span
          img(src="/console/images/plus.png" height="30")
          span.pcr_localize_step Step
    #postContainer(style="display:none;")
      #postSteps
      a#finalStep.edit(href="#")
        img(src="/console/images/plus.png" height="30")
        span.pcr_localize_finalStep Final Step
    #holdContainer(style="display:none;")
      #holdSteps
  input#OptionsButton.small_button.moreoptions.pcr_localize_moreOptions(type="button" value="More Options")
  input#Start.start.button.pcr_localize_start(type="button" value="Start")
  input#Unplugged.unplugged.button.pcr_localize_pleaseConnect(type="button" value="Plug in your Toy PCR to Start")
  input#Save.save.button.pcr_localize_savePreset(type="button" value="Save Preset")
  input#SaveEdits.saveEdits.button.pcr_localize_saveEdits(type="button" value="Save Edits")
  input#Cancel.cancel.button.pcr_localize_cancel(type="button" value="Cancel")
  .newline
    input#Home.small_button.home_button.pcr_localize_home(type="button" value="Home")