form#pcrForm.cmxform(method="get" action="")
  .openpcr-form-div
    .Header
      a#deleteButton(href="#")
        img(src="../../console/images/delete.png" height="30")
      span#ExperimentName
      input#editButton.small_button.edit(type="button" value=$i18n.console.edit)
      input#debugProfile(type="button" value="Debug Profile" style="display:none")
    #lidContainer(style="display:none;")
      #lidTemp
    #preContainer(style="display:none;")
      #preSteps
      a#initialStep.edit.plusButton(href="#")
        span #{$i18n.console.initialStep}
    #cyclesContainer(style="display:none;")
      #cycles
      a#addCycleButton.edit.plusButton(style="display:none;")
        span
          span #{$i18n.console.cycle}
    #postContainer(style="display:none;")
      #postSteps
      a#finalStep.plusButton.edit(href="#")
        span #{$i18n.console.finalStep}
    #holdContainer(style="display:none;")
      #holdSteps
  input#OptionsButton.small_button.moreoptions(type="button" value=$i18n.console.moreOptions)
  input#Start.start.button(type="button" value= $i18n.console.start)
  input#Unplugged.unplugged.button(type="button" value=$i18n.console.pleaseConnect)
  input#Save.save.button(type="button" value=$i18n.console.savePreset)
  input#SaveEdits.saveEdits.button(type="button" value=$i18n.console.saveEdits)
  input#Cancel.cancel.button(type="button" value=$i18n.console.cancel)
  .newline
    input#Home.small_button.home_button(type="button" value=$i18n.console.home)
