html
  
  head
    script(type="application/javascript")
      if $localeName == 'ja'
        | document.location.href = "https://shop.tori.st";
      else
        | document.location.href = "https://shop.tori.st";

  body Redirecting...

