html
  
  head
    script(type="application/javascript")
      if $localeName == 'ja'
        | document.location.href = "http://www.lvnshop.com/shopdetail/000000000311/";
      else
        | document.location.href = "https://shop.tori.st";

  body Redirecting...

